@media (max-width: 420px)
	.col-xxs-12
		width: 100%
@media screen and (max-width:740px) and (orientation:landscape)
	body
		.hero-unit
			.img-overlay
				h1
					padding-top: 40px 
				h2
					margin-bottom: 10px
@media (max-width: 480px)
	body
		font-size: 14px
		header
			.nav
				.menu-button
					display: inline-block
				.menu
					&.menu-hidden
						display: none
					display: block
					position: absolute
					top: 38px
					left: 0
					right: 0
					background-color: rgba(0,0,0,.5)
					li
						display: block
						padding-left: 0
						text-align: center
						a
							display: block
							line-height: 4

		.hero-unit
			background: #ccc url("../images/main_photo412_480.jpg") top center no-repeat fixed
			background-size: cover
		.wrapper
			background: url(../images/main_photo415_480.jpg) top center no-repeat fixed
			background-size: cover

@media (min-width: 481px) and (max-width: 768px)
	body	
		.hero-unit
			background: #ccc url("../images/main_photo412_768.jpg") top center no-repeat fixed
			background-size: cover
		.wrapper
			background: url(../images/main_photo415_768.jpg) top center no-repeat fixed
			background-size: cover

//@media (min-width: 481px)

@media (min-width: 769px) and (max-width: 992px)
	body
		.hero-unit
			background: #ccc url("../images/main_photo412_992.jpg") top center no-repeat fixed
			background-size: cover
		.wrapper
			background: url(../images/main_photo415_992.jpg) top center no-repeat fixed
			background-size: cover
@media (min-width: 769px)
	body
		.steps
			.divider
				display: none

@media (min-width: 993px) and (max-width: 1199px)
	body
		.hero-unit
			background: #ccc url("../images/main_photo412_1280.jpg") top center no-repeat fixed
			background-size: cover
		.wrapper
			background: url(../images/main_photo415_1280.jpg) top center no-repeat fixed
			background-size: cover
@media (min-width: 993px)
	body
		font-size: 16px
		header
			.nav
				.phone
					.phone-number
						display: inline-block
	
		.divider
			display: none

		.why-coverband
			p 
				padding: 
					left: 0
					right: 0


// @media (min-width: 1200px)
@media (min-width: 1570px)
	.col-xl-2
		width: 100/6 + %

@media (max-height: 500px) and (orientation: portrait)
	body
		.hero-unit
			.img-overlay
				h1
					padding-top: 80px
				h2
					margin-bottom: 20px




