$main-color: #73C5E1

body
	font-family: 'Open Sans', sans-serif
	font-weight: lighter
	font-size: 16px

	h2
		font-size: 2.1em
		font-weight: normal
	h3
		font-size: 28px
		font-weight: normal

	section
		padding: 
			top: 70px
			bottom: 70px

header
	position: absolute
	top: 0
	left: 0
	right: 0
	background-color: rgba(0,0,0,.2)
	border-bottom: 1px solid #000
	a 
		color: #fff
		&:hover, &:focus
			text-decoration: none
			color: #efefef
	.logo
		display: inline-block
		position: relative
		margin-top: 8px
		font-size: 1.2em
		.band-style
			position: absolute
			top: 20px
			left: 0
			font-size: .6em
			letter-spacing: .1em
	.nav
		float: right
		padding-left: 0
		li 
			list-style-type: none
			display: inline-block
			padding: 
				left: 20px
			a 
				padding: 5px 10px
			.phone
				border: 1px solid $main-color
				border-radius: 2px
				&:hover
					background-color: $main-color
.hero-unit
	width: 100%
	height: 100vh
	min-height: 600px
	background: #ccc url("../images/main_photo412.jpg") top center no-repeat
	background-size: cover
	text-align: center
	color: #fff
	text-shadow: 1px 1px 3px rgba(0,0,0,.5)
	.img-overlay
		width: 100%
		height: 100%
		background: rgba(0,0,0,.1)

		h1
			padding-top: 200px
			font-size: 2.6em
			font-weight: normal
		h2
			font-size: 1.25em
			font-weight: lighter
		.btn-main
			display: inline-block
			margin-top: 40px
			padding: 10px 20px
			border: 1px solid $main-color
			border-radius: 2px
			font-size: 1.3em
			color: #fff
			&:hover
				background-color: $main-color
				text-decoration: none
				text-shadow: none
.why-coverband
	text-align: center
	background-color: #FFF
	h2 
		margin:
			top: 0
			bottom: 60px

.why-we
	background-color: #f0f0f0













