@media (max-width: 420px) {
  .col-xxs-12 {
    width: 100%;
  }
}

@media screen and (max-width: 740px) and (orientation: landscape) {
  body .hero-unit .img-overlay h1 {
    padding-top: 40px;
  }
  body .hero-unit .img-overlay h2 {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  body header .nav .menu-button {
    display: inline-block;
  }
  body header .nav .menu {
    display: block;
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body header .nav .menu.menu-hidden {
    display: none;
  }
  body header .nav .menu li {
    display: block;
    padding-left: 0;
    text-align: center;
  }
  body header .nav .menu li a {
    display: block;
    line-height: 4;
  }
  body .hero-unit {
    background: #ccc url("../images/main_photo412_480.jpg") top center no-repeat fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  body .wrapper {
    background: url(../images/main_photo415_480.jpg) top center no-repeat fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body .hero-unit {
    background: #ccc url("../images/main_photo412_768.jpg") top center no-repeat fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  body .wrapper {
    background: url(../images/main_photo415_768.jpg) top center no-repeat fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  body .hero-unit {
    background: #ccc url("../images/main_photo412_992.jpg") top center no-repeat fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  body .wrapper {
    background: url(../images/main_photo415_992.jpg) top center no-repeat fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}

@media (min-width: 769px) {
  body .steps .divider {
    display: none;
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  body .hero-unit {
    background: #ccc url("../images/main_photo412_1280.jpg") top center no-repeat fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  body .wrapper {
    background: url(../images/main_photo415_1280.jpg) top center no-repeat fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}

@media (min-width: 993px) {
  body {
    font-size: 16px;
  }
  body header .nav .phone .phone-number {
    display: inline-block;
  }
  body .divider {
    display: none;
  }
  body .why-coverband p {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1570px) {
  .col-xl-2 {
    width: 16.66667%;
  }
}

@media (max-height: 500px) and (orientation: portrait) {
  body .hero-unit .img-overlay h1 {
    padding-top: 80px;
  }
  body .hero-unit .img-overlay h2 {
    margin-bottom: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hero-unit {
    min-height: 100%;
  }
  .hero-unit .img-overlay {
    min-height: 100%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hero-unit {
    min-height: 100%;
    -webkit-background-size: 100% 100%;
  }
  .hero-unit .img-overlay {
    min-height: 100%;
  }
}
