body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

body h2 {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 2.1em;
  font-weight: normal;
}

body h3 {
  font-size: 28px;
  font-weight: normal;
}

body section {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

header a {
  color: #fff;
}

header a:hover, header a:focus {
  text-decoration: none;
  color: #efefef;
}

header .logo {
  display: inline-block;
  position: relative;
  margin-top: 8px;
  font-size: 1.2em;
}

header .logo .band-style {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: .6em;
  letter-spacing: .1em;
}

header .nav {
  float: right;
  padding-left: 0;
}

header .nav li {
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
}

header .nav li a {
  padding: 5px 10px;
}

header .nav li .phone {
  border: 1px solid #73C5E1;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

header .nav li .phone:hover {
  background-color: #73C5E1;
}

.hero-unit {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background: #ccc url("../images/main_photo412.jpg") top center no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero-unit .img-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.hero-unit .img-overlay h1 {
  padding-top: 160px;
  font-size: 2.6em;
  font-weight: normal;
}

.hero-unit .img-overlay h2 {
  font-size: 1.25em;
  font-weight: lighter;
}

.hero-unit .img-overlay .btn-main {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #73C5E1;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 1.3em;
  color: #fff;
}

.hero-unit .img-overlay .btn-main:hover {
  background-color: #73C5E1;
  text-decoration: none;
  text-shadow: none;
}

.why-coverband {
  text-align: center;
  background-color: #FFF;
}

.why-we {
  background-color: #f0f0f0;
}

.why-we .punkt {
  margin-bottom: 20px;
  text-align: left;
}

.why-we .punkt i {
  font-size: 24px;
  color: #73C5E1;
  position: relative;
  top: 16px;
  left: 20px;
}

.why-we .video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.why-we .video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.why-we .action-form {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #f9f9f9;
}

.why-we .action-form h4 {
  font-size: 20px;
  font-weight: normal;
}

.why-we .action-form form .input {
  margin-top: 10px;
  margin-bottom: 20px;
}

.why-we .action-form form .input input {
  background: none;
  border: none;
}

.why-we .action-form form .input input:focus {
  outline: none;
}

.why-we .action-form form .input input#tel {
  width: 100px;
}

.why-we .action-form form .input label {
  border-bottom: 1px solid #73C5E1;
}

.why-we .action-form form .btn-submit {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background: none;
  border: 1px solid #73C5E1;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.why-we .action-form form .btn-submit:hover, .why-we .action-form form .btn-submit:focus {
  color: #fff;
  background-color: #73C5E1;
}
