body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  min-width: 300px;
}

body h2 {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 2.1em;
  font-weight: normal;
}

body h3 {
  font-size: 28px;
  font-weight: normal;
}

body section {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

body .divider {
  border-bottom: 1px solid #ccc;
  width: 50%;
  margin: 60px auto;
}

body .scrollToTop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 6px 12px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  color: #fff;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
}

body .scrollToTop:hover {
  background-color: #73C5E1;
}

body a:hover, body a:focus {
  text-decoration: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

header a {
  color: #fff;
}

header a:hover, header a:focus {
  text-decoration: none;
  color: #efefef;
}

header .logo {
  display: inline-block;
  position: relative;
  margin-top: 8px;
  font-size: 1.2em;
}

header .logo .band-style {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: .6em;
  letter-spacing: .1em;
}

header .nav {
  float: right;
}

header .nav .menu-button {
  display: none;
}

header .nav .menu-button .icon-bars {
  display: inline-block;
  position: relative;
  top: 3px;
  right: 10px;
  padding: 6px 8px;
  color: #fff;
  font-size: 1.5em;
}

header .nav ul {
  display: inline-block;
  padding-left: 0;
}

header .nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
}

header .nav .phone {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 5px 10px;
  border: 1px solid #73C5E1;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

header .nav .phone:hover {
  background-color: #73C5E1;
}

header .nav .phone .phone-number {
  display: none;
}

.hero-unit {
  width: 100%;
  height: 100vh;
  min-height: 560px;
  background: #ccc url("../images/main_photo412_1920.jpg") top center no-repeat fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero-unit .img-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.hero-unit .img-overlay h1 {
  padding-top: 160px;
  font-size: 2.5em;
  font-weight: normal;
}

.hero-unit .img-overlay h2 {
  font-size: 1.25em;
  font-weight: lighter;
}

.hero-unit .img-overlay .btn-main {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #73C5E1;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  font-size: 1.3em;
  color: #fff;
}

.hero-unit .img-overlay .btn-main:hover, .hero-unit .img-overlay .btn-main:focus {
  background-color: #73C5E1;
  text-decoration: none;
  text-shadow: none;
}

.why-coverband {
  text-align: center;
  background-color: #FFF;
}

.why-coverband p {
  padding-left: 40px;
  padding-right: 40px;
}

.why-we {
  background-color: #f0f0f0;
}

.why-we .punkt {
  margin-bottom: 20px;
  text-align: left;
}

.why-we .punkt i {
  font-size: 24px;
  color: #73C5E1;
  position: relative;
  top: 16px;
  left: 20px;
}

.why-we .video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.why-we .video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.why-we .action-form {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 30px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: #f9f9f9;
}

.why-we .action-form h4 {
  font-size: 20px;
  font-weight: normal;
}

.why-we .action-form form .input {
  margin-top: 10px;
  margin-bottom: 20px;
}

.why-we .action-form form .input input {
  background: none;
  border: none;
}

.why-we .action-form form .input input:focus {
  outline: none;
}

.why-we .action-form form .input input[placeholder] {
  text-align: center;
}

.why-we .action-form form .input input#tel {
  width: 100px;
}

.why-we .action-form form .input .label {
  border-bottom: 1px solid #73C5E1;
}

.why-we .action-form form .btn-submit {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background: none;
  border: 1px solid #73C5E1;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.why-we .action-form form .btn-submit:hover, .why-we .action-form form .btn-submit:focus {
  color: #fff;
  background-color: #73C5E1;
}

.portfolio {
  padding: 0;
}

.portfolio .container-fluid {
  overflow: hidden;
  padding: 0;
}

.portfolio #links {
  margin: 0 auto;
}

.testimonials h2 {
  margin-bottom: 20px;
}

.testimonials .carousel {
  position: relative;
}

.testimonials .carousel i {
  font-size: 50px;
  color: #ddd;
}

.testimonials .carousel .item-wrap {
  margin-top: 25px;
  margin-bottom: 0;
}

.testimonials .carousel .item-wrap .item {
  display: none;
}

.testimonials .carousel .item-wrap .item .profile-img {
  display: inline-block;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}

.testimonials .carousel .item-wrap .item h4 {
  margin: 10px auto;
  font-size: 1.2em;
  font-weight: normal;
}

.testimonials .carousel .item-wrap .item h5 {
  margin: 0 auto;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  color: #999;
}

.testimonials .carousel .item-wrap .item .divider {
  display: inline-block;
  margin: 20px auto;
}

.testimonials .carousel .item-wrap .item p {
  color: #666;
  font-size: 1em;
  font-style: italic;
  text-align: justify;
}

.testimonials .carousel ol {
  display: inline-block;
  padding-left: 0;
}

.testimonials .carousel ol li {
  display: inline-block;
  margin: 3px;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: 1px solid #73C5E1;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}

.testimonials .carousel ol li.active, .testimonials .carousel ol li:hover {
  background-color: #73C5E1;
}

.wrapper {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background: url(../images/main_photo415_1920.jpg) top center no-repeat fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.wrapper .step {
  display: inline-block;
  width: 110px;
  height: 110px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}

.wrapper .step.first {
  background: #73C5E1 url(../images/phone-call_w.png) center no-repeat;
}

.wrapper .step.second {
  background: #73C5E1 url(../images/agreement_w.png) center no-repeat;
}

.wrapper .step.third {
  background: #73C5E1 url(../images/confetti_w.png) center no-repeat;
}

.wrapper .step_mark {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 3px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  font-size: .8em;
}

.wrapper .tel {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #73C5E1;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  color: #fff;
  font-size: 1.2em;
}

.wrapper .tel:hover, .wrapper .tel:focus {
  background-color: #73C5E1;
  text-shadow: none;
  text-decoration: none;
}

.wrapper .steps-text {
  font-size: 1.2em;
}

.wrapper .steps-social a {
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  font-size: 2.5em;
}

.wrapper .steps-social a:hover, .wrapper .steps-social a:focus {
  color: rgba(255, 255, 255, 0.85);
}

.wrapper footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.wrapper footer h3 {
  margin-top: 50px;
  font-size: 1.6em;
}

.wrapper footer a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  font-size: 1.5em;
}

.wrapper footer a:hover, .wrapper footer a:focus {
  color: rgba(255, 255, 255, 0.85);
}

.wrapper footer a.social {
  font-size: 2em;
}

.wrapper footer .copyright {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
}
